body{
    background-color: #E5E7E9;
}

.cont_encabezado{
    background-color: #3498DB;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conte_elementos{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo_p{
    border-radius: 100%;
    width: 75px;
    height: 75px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.ul_encabezado{
    list-style:none;
    text-decoration: none;
    margin: 0px;
}

.li_encabezado{
    display: inline;
    margin-right: 10px;
}

.cont_menu{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-top: 60;
    /* padding-left: 50px; */
}

.cont_menu_1{
    width: 70%;
    background-color: white;
    padding-left: 60px;
    padding-bottom: 20px;
    /* padding-left: 50px; */
}

.cont_tabla{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    border-collapse: collapse; /* Combina los bordes de celdas adyacentes */
    width: 90%; /* Ancho de la tabla (puedes ajustarlo según tus necesidades) */
    border: 1px solid black; /* Borde de la tabla */
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td, thead{
    border: 1px solid black; /* Borde de las celdas y encabezados */
    /* padding: 8px; Espacio interno para los contenidos de las celdas */
}

.cont_form{
    width: 100%;
    background-color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  label, input, button {
  display: block;
  margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #0056b3;
  }

  .cont_social{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }